<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../landOwners/landOwners.css" />
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../bootstrap-5.3.3-dist/css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="../bootstrap-5.3.3-dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div id="navbar"></div>
    <div class="animated-div"></div>

    <!-- hero section -->
    <div class="hero-section">
      <img src="../images/coverImage/test2.png" alt="" />
    </div>
    <!-- hero section end -->

    <div class="container">
      <section class="">
        <div class="row mb-5 p-2">
          <div
            class="col-sm-12 col-md-12 p-1 col-lg-5 border border-1 rounded-1 d-flex justify-content-center align-items-center flex-column lh-lg"
          >
            <h1 class="p-0 m-0">Explore &amp; Expand with Us</h1>
            <p class="text-wrap p-2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Blanditiis, facere! Iste pariatur voluptates mollitia magni saepe
              provident commodi, natus quis suscipit iure? Tempora perferendis
              cum modi doloremque dignissimos, dolore ad architecto voluptates
              asperiores at. Sequi facilis dolor magni reprehenderit quam
              soluta, impedit eaque doloremque saepe eum dolorem repellat
              veritatis nesciunt! Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Quod, molestias numquam incidunt totam
              laboriosam sit facere eaque. Dolores molestias voluptate eum
              voluptatem corrupti. Illo, hic. Nobis animi accusamus nisi
              officiis magnam recusandae aut cupiditate soluta quis nemo saepe
              et nesciunt asperiores culpa, corporis sapiente itaque. Quibusdam
              quidem error labore quod, omnis non saepe voluptate illo, eius,
              veritatis voluptas quo nisi? Nesciunt eos saepe explicabo
              reprehenderit, atque ipsa est eius excepturi perspiciatis sed,
              esse blanditiis iure cupiditate nihil ad cum. Ex, veniam non.
              Earum neque maiores, iure at facere quod ipsam quis reiciendis?
              Possimus eos fuga dolorum doloribus qui illo excepturi!
            </p>
          </div>
          <div
            class="col-sm-12 col-md-12 col-lg-7 d-flex justify-content-center align-items-center p-1 border border-1"
          >
            <img
              src="../images/othesImg/fullImage.png"
              class="rounded-1 border border-1 w-100 h-100"
              alt=""
            />
          </div>
        </div>
      </section>

      <!-- land owners review carosul -->
      <section class="">
        <div
          id="carouselExampleDark"
          class="carousel carousel-dark slide border border-2 border-primary-subtle"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
              <img
                src="../images/coverImage/SETTLER.png"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>
                  Some representative placeholder content for the first slide.
                </p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img
                src="../images/coverImage/SETTLER.png"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>
                  Some representative placeholder content for the second slide.
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="../images/coverImage/SETTLER.png"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>
                  Some representative placeholder content for the third slide.
                </p>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>

      <div class="mt-5"></div>

      <!-- contract form -->
      <section class="bg-body-tertiary">
        <div class="pt-4">
          <h1 class="text-center text-uppercase">Contact Us</h1>
          <div class="d-flex justify-content-center align-items-center">
            <hr class="w-25 h-25" />
          </div>
        </div>
        <form action="">
          <div class="row p-3">
            <div class="col-sm-12 col-md-6">
              <!-- land information -->
              <h3>Land Information</h3>
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="locationInput"
                  placeholder="Dhanmondi"
                />
                <label for="floatingInput">Location*</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="addressInput"
                  placeholder="Dhanmondi"
                />
                <label for="floatingInput">Full Address*</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="landSizeInput"
                  placeholder="Dhanmondi"
                />
                <label for="floatingInput">Land Size(In Khatha)*</label>
              </div>

              <div class="form-floating mb-3">
                <select
                  class="form-select"
                  id="PlotFacing"
                  aria-label="Plot Facing"
                >
                  <option selected>East</option>
                  <option value="1">East</option>
                  <option value="2">West</option>
                  <option value="3">North</option>
                  <option value="4">South</option>
                </select>
                <label for="floatingSelect">Plot Facing</label>
              </div>

              <div class="form-floating mb-3">
                <select class="form-select" id="category" aria-label="category">
                  <option selected></option>
                  <option value="1">LeaseHold Property</option>
                  <option value="2">FreeHold Property</option>
                </select>
                <label for="floatingSelect">Select Category</label>
              </div>

              <div class="form-floating mb-3">
                <select class="form-select" id="type" aria-label="type">
                  <option selected></option>
                  <option value="1">Residential</option>
                  <option value="2">Commercial</option>
                </select>
                <label for="floatingSelect">Select Type</label>
              </div>
            </div>
            <div class="col col-md-6">
              <!-- land owners information -->
              <h3>Land owners information</h3>
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="landOwnerName"
                  placeholder="landOwnerName"
                />
                <label for="landOwnerName">Owner Name</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="number"
                  class="form-control"
                  id="number"
                  placeholder="number"
                />
                <label for="number">Number</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                />
                <label for="floatingInput">Email address</label>
              </div>

              <div class="">
                <button type="submit" class="btn bg-success-subtle w-100">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </form>
      </section>

      <div class="mt-5"></div>
    </div>

    <div id="footer1" class=""></div>

    <script src="../bootstrap-5.3.3-dist/js/bootstrap.js"></script>
    <script src="../bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
    <script src="../footer/footer.js"></script>
    <script src="../navbar/navbar.js"></script>
    <script src="../index.js"></script>
    <script src="../landOwners/landOwners.js"></script>
  </body>
</html>
